@import url("https://fonts.googleapis.com/css2?family=Andada&display=swap");

.App {
  font-family: 'Andada', serif;
  text-align: center;
  background-image: linear-gradient(110deg, #8de9d5, #32c4c0);
  height: 100vh;
  width: 100vw;
}
